.detailed__btn {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #fff;
  background: #dcc38b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detailed__btn:hover {
  background: #b99e65;
  text-decoration: none !important;
}
