.register {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__box {
  background: #fff;
  width: 500px;
  height: auto !important;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: relative;
  padding: 25px 0;
}
.modal__box img {
  width: 157px;
  height: 70px;
}
.modal__box input {
  width: 370px;
  height: 50px;
  padding: 6px 12px;
  border: 0.5px solid #ededed;
  border-radius: 8px;
  color: #a4a2a2;
  font-size: 18px;
  outline-color: rgb(75, 146, 238);
}
.modal__box input:hover {
  content: "telefon raqamingizni kiriting";
}
.modal__box input::placeholder {
  color: #b1aeae;
}
.modal__box button {
  width: 370px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  background: #dcc38b;
  border-radius: 30px;
  transition: 0.2s;
}
.modal__box button:hover {
  background: #b99e65;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.817);
  z-index: 900;
}
.closer {
  position: absolute;
  top: -45px;
  right: 0;
  color: #fff;
  font-size: 35px;
}
